body {
  background-image: url("img_tree.gif"), url("https://media.istockphoto.com/videos/4k-resolution-futuristic-abstract-backgroundpolygon-and-line-connect-video-id1199149544?s=640x640");
  background-size:contain;
  height: 100vh;
  
  
 
  
}

  





